.form {
  width: 700px;
  background:
    radial-gradient(circle at 100% 50%, transparent 20%, rgba(13, 110, 246, 0.88) 21%, rgba(187, 146, 250, 0.82) 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, transparent 20%, rgba(169, 127, 242, 0.67) 21%, rgba(111, 120, 250, 0.65) 34%, transparent 35%, transparent) 0 -50px;
  background-color: slategrayrgba(148, 187, 233, 1) 100%;
  background-size:75px 100px;
}